In [1]:
import tensorflow as tf
import numpy as np
import pandas as pd
from tensorflow.keras.models import load_model
import pickle

In [3]:
model = load_model("model.h5")

with open ("le.pkl","rb") as file:
    le = pickle.load(file)

with open ("ohe.pkl","rb") as file:
    ohe = pickle.load(file)
with open  ("scalar.pkl","rb") as file:
    scalar = pickle.load(file)

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [8]:
input_data = {
    "CreditScore":650,
    "Geography": "Spain",
    "Gender":  "Male",
    "Age":57,
    "Tenure":3,
    "Balance":5000,
    "NumOfProducts":3,
    "HasCrCard":1,
    "IsActiveMember":1,
    "EstimatedSalary":79000,
}

In [10]:
ohge = ohe.transform([[input_data["Geography"]]])
geo_en = pd.DataFrame(ohge.toarray(),columns=ohe.get_feature_names_out(["Geography"]))

c:\Users\polam\OneDrive\Desktop\ANN\env\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

In [11]:
geo_en

   Geography_France  Geography_Germany  Geography_Spain
0               0.0                0.0              1.0

In [13]:
input_df = pd.DataFrame([input_data])

In [15]:
input_df["Gender"] = le.transform(input_df["Gender"])

In [16]:
input_df

   CreditScore Geography  Gender  ...  HasCrCard  IsActiveMember  EstimatedSalary
0          650     Spain       1  ...          1               1            79000

[1 rows x 10 columns]

In [20]:
input_df=pd.concat([input_df.drop("Geography",axis=1),geo_en],axis=1)

In [21]:
input_df

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          650       1  ...                0.0              1.0

[1 rows x 12 columns]

In [22]:
input_scale = scalar.transform(input_df)

In [23]:
input_scale

array([[-0.01709861,  0.91324755,  1.72102501, -0.69539349, -1.13841561,
         2.53355998,  0.64920267,  0.97481699, -0.37261877, -0.99850112,
        -0.57946723,  1.73494238]])

In [24]:
prediction = model.predict(input_scale)
prediction

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 62ms/step

array([[0.7338897]], dtype=float32)

In [25]:
if prediction > 0.5 :
    print("The person is likely to be a churn")
elif prediction <0.5:
    print("The person is likely to be a non-churn")

The person is likely to be a churn